@import "tailwindcss";

/* clerk user button adjust */

.cl-avatarBox {
    width:2rem;
    height:2rem;
}

/* input color */
input{
    background-color: #ffffff;
    accent-color: red;
    border: 1px solid #ccc;
    
}